snippet div "HTML div tag" b
<div id="$1" class="$2">
	$0
</div>
endsnippet

snippet img "HTML img tag" b
<img src="$1" alt="$2">$0
endsnippet

snippet a "HTML a tag" b
<a href="$1">$0</a>
endsnippet

snippet p "HTML p tag" b
<p id="$1" class="$2">$0</p>
endsnippet

snippet article "HTML article tag" b
<article id="$1" class="$2">
	$0
</article>
endsnippet

